
/* Кнопка */
.btn-modal {
    cursor: pointer;
    padding: 1rem 3rem;
    color: #fff;
    text-decoration: none;
    background-color: #83bec5;
    transition: all 0.3s ease-out;
}
.btn-modal:hover {
    background-color: #527c82;
}

/* Модальное окно */
#modal-block {
    background-color:#527c82;
    color: #fff;
    position: fixed;
    top:0;
    left: 100vw;
    width:20vw;
    height: 100vh;
    transition: all .5s;
    font-family: 'Raleway', sans-serif;
    z-index: 9;

}
#modal-block:target{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    left:80vw;
}

/* Заголовкии текст */
#modal-block h3{
    margin: 20px 0;
    font-size: 1.7em;
}
#modal-block p{
    width: 50%;
    text-align:justify;
}

/* Кнопка закрыть */
.close-block{
    display: flex;
    position: absolute;
    top: 7%;
    right: 5%;
    padding: .5em;
    color: black;
    text-decoration: none;
    font-size: 1em;
    box-sizing: border-box;
}
